<h1> Welcome to Cricket Fanatasy  </h1>
<% if user_signed_in? %>
  <% if current_user.tournaments.count > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Tournament</th>
          <th>Team Name</th>
          <th>Options</th>
        </tr>
      </thead>

      <tbody>
        <% current_user.tournaments.each do |tournament| %>
          <tr class=<%= cycle('even','odd') %>>
          <td><%= tournament.title %></td>
          <% tournament.teams.each do |team| %>
            <td><%= team.team_name %></td>
            <td><%= link_to 'Show',team %></td>
            <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
        <%= link_to 'Enroll In New Tournament', new_team_path %><hr>
      </tbody>

    </table>
  <% else %>
    <p>
      Welcome, <%= link_to 'Enroll In Tournament', new_team_path %>
    </p>
  <% end %>
<% else %>
  Please login before enrollment:
  <%= link_to ' Login ', new_user_session_path %>
<% end %>
