<h1> Welcome to Cricket Fantasy  </h1>
<% if user_signed_in? %>
  <% if current_user.tournaments.count > 0 %>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="header">
            <h4 class="title">Team Details</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th>Tournament</th>
                <th>Team Name</th>
                <th>Options</th>
              </thead>
              <tbody>
                <% current_user.tournaments.each do |tournament| %>
                  <tr>
                    <td><%= tournament.title %></td>
                    <% tournament.teams.each do |team| %>
                      <td><%= team.team_name %></td>
                      <td>
                        <%= link_to 'Show', team %> |
                        <%= link_to 'Edit', edit_team_path(team) %> |
                        <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
                <p class="content">
                  <%= link_to 'Enroll In New Tournament', new_team_path %>
                </p>
                <hr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>
      Welcome, <%= link_to 'Enroll In Tournament', new_team_path %>
    </p>
  <% end %>
<% else %>
  Please login before enrollment:
  <%= link_to ' Login ', new_user_session_path %>
<% end %>
