<div class="sidebar" data-color="purple" data-image= <%=asset_path("sidebar-5.jpg") %>>
  <div class="sidebar-wrapper">
    <div class="logo">
      <%= link_to 'Cricket Fanatasy', teams_path, class: "simple-text" %>
    </div>

    <ul class="nav">
      <li class="active">
        <%= link_to tournaments_path do %>
          <i class="pe-7s-menu"></i>
          <p>Tournaments</p>
        <% end %>
      </li>
      <li>
        <%= link_to teams_path do %>
          <i class="pe-7s-users"></i>
          <p>Teams</p>
        <% end %>
      </li>
      <li>
        <%= link_to standings_tournaments_path do %>
          <i class="pe-7s-menu"></i>
          <p>Standings</p>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="pe-7s-power"></i>
          <p>Log Out</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
