<div class="row">
  <div class="col-md-8">
    <p id="fantasy-title"> Welcome to Cricket Fantasy</p>
  </div>
  <div class="col-md-3 register">
    <% if user_signed_in? %>
      <%= link_to tournaments_path, class: "btn play-btn" do %>
        <p  class="play-btn-text">Click here to play</p>
      <% end %>
    <% else %>
     <%= link_to new_user_session_path, class: "btn play-btn" do %>
        <p class="play-btn-text">Register</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row start-div">
  <div class="col-md-7 inner-image">
    <%= image_tag "watson.png" %>
  </div>

  <div class="col-md-4 inner-image"">
    <%= image_tag "img18.png" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <p class="text">Play fantasy cricket and win prizez daily</p>
    <p class="text"> 3 Easy steps </p>
    <div class="col-md-3">
      <%= image_tag "series.jpg", class: "image" %>
      <span class="steps"><p class="number">1</p>Choose series</span>
    </div>

    <div class="col-md-3">
      <%= image_tag "teams.jpg", class: "image" %>
      <span class="steps"><p class="number">2</p>Create your fantasy team</span>
    </div>

    <div class="col-md-3">
      <%= image_tag "players.jpg", class: "image" %>
      <span class="steps"><p class="number">3</p>Add players in your team</span>
    </div>

    <div class="col-md-3">
      <%= image_tag "score.png" %>
      <span class="steps">Score points based on real matches </span>
    </div>
  </div>
</div>
